fieldset,img{border:0}
*,a:focus,input:focus{outline:0}
a,body{color:#333}
.cl,.fix:after{clear:both}
.block,.fix:after{display:block}
.hm,.hvm{left:50%}
*,.bbox,.layout,div,p{-webkit-box-sizing:border-box}
article,aside,blockquote,body,button,code,dd,dialog,div,dl,dt,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
li,ol,ul{list-style:none}
em,i{font-style:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
img{max-width:100%}
a{text-decoration:none}
a:active{opacity:.7}
*{-webkit-tap-highlight-color:transparent}
html{-webkit-text-size-adjust:none;overflow-y:scroll}
body{min-width:320px;line-height:1.5;font-family:Arial,Helvetica,STHeiTi,sans-serif}
.w{margin:0 auto;max-width:15rem}
.fix:after{content:'';visibility:hidden}
.fl{float:left}
.fr{float:right}
.main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.main .container{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1000;
}
.container.part1{
	background: url(images/part1.png) no-repeat center center #79cae5;
	background-size: 50%;
}
.container.part2{
	background: url(images/part2.png) no-repeat center center #4cbaad;
	background-size: 50%;
}
.container.part3{
	background: url(images/part3.png) no-repeat center center #f6b55f;
	background-size: 50%;
}
.container.part4{
	background: #fff;
	background-size: 50%;
}
.container.part5{
	background: url(images/part5.png) no-repeat center center #fff;
	background-size: 50%;
}
.container.part6{
	background: #fff;
	background-size: 50%;
}
.container.nobg{
	background-image: none;
}
.main .item{
	float: left;
	width: 25%;
	height: 12.5%;
	background: #000;
	opacity: 0;
	transition: opacity .4s ;
	position: relative;
	z-index: 50;
}
.actives{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 40;
}
.main .item.active{
	opacity: .2;
}
.wrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #023a6e;	
	z-index: 2000;
	opacity: 1;
	transition: all .2s linear
}
.wrap.hide{
	opacity: 0;
	z-index: 500 !important;
	
}
.share.wrap{
	z-index: 3000;
}
.content{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}
.logo{
	position: absolute;
	width: 4.578125rem;
	left: .46875rem;
	top:.65625rem;
	display: block;
}
.title{
	position: absolute;
	width: 7.28125rem;
	display: block;
	left:50%;
	transform: translateX(-50%);
	top:2.59375rem;
	opacity: 0;
	z-index: 50
}
.title.active{
	opacity: 1;
    animation: fourwordTitle 1.4s;
    animation-fill-mode: forwards;
}
.btn-enter{
	position: absolute;
	bottom: 3.4375rem;
	right: 0;
	left:0;
	height: 2rem;
	text-align: center;
	vertical-align: bottom
}

.btn-enter .btn{
	width: 6.296875rem;
}
.btn-enter .btn-share{
	width: 4.421875rem;
}
.btn-enter .btn.active{
	animation: hvr-wobble-horizontal .4s;
    animation-fill-mode: forwards;
}
.tip{
	position: absolute;
	width: 3.53125rem;
	display: block;
	left:50%;
	transform: translateX(-50%);
	bottom:1.65625rem;
}
.first-bg{
	position: absolute;
	width: 100%;
	left:0;
	transition: all .3s ease-in
}
.top-bg{
	top:0;
	transform: translateY(-100%)
}
.bottom-bg{
	transform: translateY(100%);
	bottom: 0;
}
.share .first-bg{
	transform: translateY(0)
}
.first-bg.active{
	transform: translateY(0)
}
.share p{
	line-height: .84375rem;
	font-size: .5rem;
	color:#fff;
	text-align: center;
	opacity: 0;
}
.share .code{
	top: 5.0625rem;
	width: 0;
	display: block;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease-in;
}
.share .code.active{
	width: 4.1875rem;
	opacity: 1
}

.share .first-child{
	margin-top: 1.96875rem;
}
.share p.active{
	opacity: 1;
	animation:flipInX .4s linear forwards;
}
.btn-end{
	bottom:3.3125rem;
}
.share .tips{
	position: absolute;
	left: 0;
	right:0;
	text-align: center;
	color:#fff;
	display: block;
	bottom:2.625rem;
	font-size: 12px;
	opacity: 1;
}
.share-container{
	background: rgba(0, 0, 0, .4);
	position: absolute;
	right: 0;
	left:0;
	top:0;
	bottom:0;
	z-index: 10;
	transition: all .3s ease-in;
	transform: translate3d(0,-100%,0);
}
.share-container.show{
	transform: translate3d(0,0,0);
}
.share-text{
	position: absolute;
	transform: translateX(-50%);
	left:50%;
	width: 6.984375rem;
	display: block;
	top:1rem;
}
.trans{
	position: absolute;
	display: block;
}
.init1{
	transform: translateX(-50%);
	left:50%;
	width: 0;
	opacity: 0;
	transition: all .3s linear;
}
.enter1{
	opacity: 1
}
.leave1{
	opacity: 0;
}
.init2{
	transition: all .5s linear;
	left:50%;
}
.enter2{
	animation:bounceInUp .8s linear forwards;
}

.leave2{
	opacity: 0;
}

.f1{
	position: absolute;
	width: 6.546875rem;
	top: 1.3125rem;
	left:.34375rem;
}
.f2{
	position: absolute;
	width: 2.4375rem;
	top: 1.390625rem;
	right:.390625rem;
}
.f3{
	position: absolute;
	width: 1.421875rem;
	top: 3.375rem;
	left:.34375rem;
}
.f4{
	position: absolute;
	width: 7.484375rem;
	top: 3.375rem;
	left:2.15625rem;
}
.f5{
	position: absolute;
	width: 5.34375rem;
	top: 4.71875rem;
	left:2.3125rem;
}
.f6{
	position: absolute;
	width: 1.546875rem;
	top: 4.71875rem;
	right:.390625rem;
}
.f7{
	position: absolute;
	width: 7.34375rem;
	top: 7.5625rem;
	left:.34375rem;
}
.f8{
	position: absolute;
	width: 7.3125rem;
	top: 9.15625rem;
	left:.34375rem;
}
.f9{
	position: absolute;
	width: 8.078125rem;
	top: 11.4375rem;
	left:.34375rem;
}
.f10{
	position: absolute;
	width: 8.03125rem;
	top: 12.75rem;
	left:.34375rem;
}
.f11{
	position: absolute;
	width: 3.28125rem;
	top: 13.8125rem;
	left:.34375rem;
}
.f-hide{
	opacity: 0;
	transform: translateY(-100vh);
	transition: all .2s
}
.f-hide.active{
	opacity: 1;
	transform: translateY(0);
}
.loading{
	position: absolute;
	top: 0;right:0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background: #023a6e;
	transform: all .2s;
}
.loading.hide{
	opacity: 0;
	transform: translateY(-100%);
}
.loader {
    position: relative;
    margin: 40% auto;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 16px;
}
.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
	width: 2rem;
	height: 2rem;
    margin: auto;
}
.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
.enterP11{
	position: absolute;
	width: 110vw;
	top: -20%;
	height: 130vh;
	left:0;
	transform: rotate(185deg) translateX(-50%);
	background-color: #023a6e;
	-webkit-animation: an11 .2s 1 linear forwards;
}
.enterP12{
	position: absolute;
	width: 100vw;
	top: -20%;
	height: 130vh;
	right:0;
	transform: rotate(-5deg) translateX(-50%);
	background-color: #023a6e;
    -webkit-animation: an12 .2s 1 linear forwards;
    animation-delay: .2s
}

@keyframes an11{
	0%{transform: rotate(185deg) translateX(-50%);}
	99.99%{transform: rotate(355deg) translateX(-50%);background: #023a6e}
	to {transform: rotate(175deg) translateX(-50%);z-index: 10;background: #79cae5}
}


@keyframes an12{
	0% {transform: rotate(-5deg) translateX(-50%);}
	99.99%{transform: rotate(175deg) translateX(-50%);background: #023a6e}
	100%{transform: rotate(175deg) translateX(-50%);background: #79cae5}
}
.enterP21{
	position: absolute;
	width: 110vw;
	top: -20%;
	height: 130vh;
	left:0;
	transform: rotate(185deg) translateX(-50%);
	background-color: #79cae5;
	-webkit-animation: an21 .2s 1 linear forwards;
}
.enterP22{
	position: absolute;
	width: 100vw;
	top: -20%;
	height: 130vh;
	right:0;
	transform: rotate(-5deg) translateX(-50%);
	background-color: #79cae5;
    -webkit-animation: an22 .2s 1 linear forwards;
    animation-delay: .2s
}

@keyframes an21{
	0%{transform: rotate(185deg) translateX(-50%);}
	99.99%{transform: rotate(355deg) translateX(-50%);background: #79cae5}
	to {transform: rotate(175deg) translateX(-50%);z-index: 10;background: #4cbaad}
}


@keyframes an22{
	0% {transform: rotate(-5deg) translateX(-50%);}
	99.99%{transform: rotate(175deg) translateX(-50%);background: #79cae5}
	100%{transform: rotate(175deg) translateX(-50%);background: #4cbaad}
}
.enterP31{
	position: absolute;
	width: 110vw;
	top: -20%;
	height: 130vh;
	left:0;
	transform: rotate(185deg) translateX(-50%);
	background-color: #4cbaad;
	-webkit-animation: an31 .2s 1 linear forwards;
}
.enterP32{
	position: absolute;
	width: 100vw;
	top: -20%;
	height: 130vh;
	right:0;
	transform: rotate(-5deg) translateX(-50%);
	background-color: #4cbaad;
    -webkit-animation: an32 .2s 1 linear forwards;
    animation-delay: .2s
}

@keyframes an31{
	0%{transform: rotate(185deg) translateX(-50%);}
	99.99%{transform: rotate(355deg) translateX(-50%);background: #4cbaad}
	to {transform: rotate(175deg) translateX(-50%);z-index: 10;background: #f6b55f}
}


@keyframes an32{
	0% {transform: rotate(-5deg) translateX(-50%);}
	99.99%{transform: rotate(175deg) translateX(-50%);background: #4cbaad}
	100%{transform: rotate(175deg) translateX(-50%);background: #f6b55f}
}


.enterP41{
	position: absolute;
	width: 110vw;
	top: -20%;
	height: 130vh;
	left:0;
	transform: rotate(185deg) translateX(-50%);
	background-color: #f6b55f;
	-webkit-animation: an41 .2s 1 linear forwards;
}
.enterP42{
	position: absolute;
	width: 100vw;
	top: -20%;
	height: 130vh;
	right:0;
	transform: rotate(-5deg) translateX(-50%);
	background-color: #f6b55f;
    -webkit-animation: an42 .2s 1 linear forwards;
    animation-delay: .2s
}

@keyframes an41{
	0%{transform: rotate(185deg) translateX(-50%);}
	99.99%{transform: rotate(355deg) translateX(-50%);background: #f6b55f}
	to {transform: rotate(175deg) translateX(-50%);z-index: 10;background: #fff}
}


@keyframes an42{
	0% {transform: rotate(-5deg) translateX(-50%);}
	99.99%{transform: rotate(175deg) translateX(-50%);background: #f6b55f}
	100%{transform: rotate(175deg) translateX(-50%);background: #fff}
}

.enterP51{
	position: absolute;
	width: 110vw;
	top: -20%;
	height: 130vh;
	left:0;
	transform: rotate(185deg) translateX(-50%);
	background-color: #fff;
	-webkit-animation: an51 .2s 1 linear forwards;
}
.enterP52{
	position: absolute;
	width: 100vw;
	top: -20%;
	height: 130vh;
	right:0;
	transform: rotate(-5deg) translateX(-50%);
	background-color: #fff;
    -webkit-animation: an52 .2s 1 linear forwards;
    animation-delay: .2s
}

@keyframes an51{
	0%{transform: rotate(185deg) translateX(-50%);}
	99.99%{transform: rotate(355deg) translateX(-50%);background: #fff}
	to {transform: rotate(175deg) translateX(-50%);z-index: 10;background: #fff}
}


@keyframes an52{
	0% {transform: rotate(-5deg) translateX(-50%);}
	99.99%{transform: rotate(175deg) translateX(-50%);background: #fff}
	100%{transform: rotate(175deg) translateX(-50%);background: #fff}
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes fourwordTitle{
    0% {
        opacity: 0;
        transform:translate3d(-50%,0,0) scale(200);
    }
    50%{
        opacity: .8;
        transform:translate3d(-50%,0,0) scale(1);
        transition-timing-function:ease-in;
    }
    60% {
        opacity: .9;
        transform:translate3d(-50%,0,0) scale(1);
    }
    100%{
        opacity: 1;
        transform:translate3d(-50%,0,0) scale(1);
    }
}

@keyframes hvr-pulse-shrink {
	to {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
}  

@keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(8px);
	  transform: translateX(8px);
	}
	33.3% {
	  -webkit-transform: translateX(-6px);
	  transform: translateX(-6px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }